@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.right-sidebar-gradient {
  background: rgb(18, 18, 18);
  background: linear-gradient(
    22deg,
    rgba(28, 28, 28) 20%,
    rgb(182, 255, 27) 100%
  );
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .category-badge {
    @apply flex-center w-fit gap-1 truncate rounded-2xl border-[1.5px] py-[2px] pl-1.5 pr-2;
  }

  .banktab-item {
    @apply flex gap-[18px] border-b-2 px-2 py-2 transition-all sm:px-4;
  }
}
